*.o
*.aux
*.log
*.blg
*.bbl
*.out
Jason-P-Smith/St-Johns-College-Research-Fellowship.pdf
Jason-P-Smith/Heilbronn-Research-Fellowship.pdf
Jason-P-Smith/Berlin-Mathematical-School.pdf
Jason-P-Smith/Charles-University.pdf
Jason-P-Smith/St-Hildas-College.pdf
Murray-Tannock/Otago.pdf
Bjarki-Gudmundsson/Anders-reference-letter-Bjarki-PhD.pdf
Christian-Bean/*/Claesson-Bean.pdf
Christian-Bean/*/Claesson-Bean.pdf
Claesson.pdf
ChristianBean_AndersClaesson_ext.pdf
Gylfi-Thorsteinn/Gylfi-Thorsteinn.pdf
Dagur-Tomas-Asgeirsson/Ref-for-Dagur-Asgeirsson-by-Anders-Claesson.pdf
