*.o
*.aux
*.log
*.blg
*.bbl
*.out
Jason-P-Smith/St-Johns-College-Research-Fellowship.pdf
Jason-P-Smith/Heilbronn-Research-Fellowship.pdf
Jason-P-Smith/Berlin-Mathematical-School.pdf
Jason-P-Smith/Charles-University.pdf
Jason-P-Smith/St-Hildas-College.pdf
Murray-Tannock/Otago.pdf
